<?xml version="1.0" encoding="UTF-8"?>

<suite name="TestNG Test">
    <parameter name="BaseURL" value="https://stag.1mg.com"/>
    <parameter name="Browser" value="chrome"/>
    <parameter name="useDefaultListeners" value="false"/>
    <listeners>
        <!--   <listener class-name="org.uncommons.reportng.HTMLReporter"/>
           <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
           <listener class-name="com.hk.reportAndMailGenerator.ReportListener"/>-->
    </listeners>
    <test name="com.flipkart.sanityCases">
        <classes>
            <class name="com.flipkart.sanityCases.askQueryWithSignUp"/>
        </classes>
    </test>

</suite>